.flex {
  display: flex;

  &\:column {
    display: flex;
    flex-direction: column;
  }

  &\:row {
    flex-direction: row;
    display: flex;
  }
}

/* WRAP -------------------------------------------------------------------- */
.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.nowrap {
  flex-wrap: nowrap;
}

/* JUSTIFY ----------------------------------------------------------------- */
.justify\:start {
  justify-content: flex-start;
}

.justify\:center {
  justify-content: center;
}

.justify\:space,
.justify\:space-between {
  justify-content: space-between;
}

.justify\:end {
  justify-content: flex-end;
}

/* ALIGN-- ----------------------------------------------------------------- */
.align\:start {
  align-items: flex-start;
}

.align\:center {
  align-items: center;
}

.align\:end {
  align-items: flex-end;
}

.grow {
  flex-grow: 1;
}

.nogrow {
  flex-grow: 0;
}

.shrink {
  flex-shrink: 1;
}

.noshrink {
  flex-shrink: 0;
}
