.btn {
  border: 0;
  background: none;
  // margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;

  &-sm {
    padding: 0.15rem 0.5rem;
    font-size: 0.75em;
  }

  &-lg {
    padding: 0.5rem 1.5rem;
    font-size: 1.25em;
  }

  &:not([disabled]):hover {
    filter: brightness(85%);
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-primary {
  @extend .btn;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

.btn-secondary {
  @extend .btn;
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
}
