.close-button {
  $size: 2.5rem;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  font-size: calc($size / 2);
  border-radius: 0.5rem;
  background-color: var(--container-background);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 375ms ease-in-out;

  &:hover {
    filter: brightness(80%);
  }
}
