:host {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  // height: 100%;
  overflow-y: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;

  > * {
    margin-right: 1rem;
  }
}

.details-body {
  overflow-y: auto;
  // border-top: 1px solid rgba(0, 0, 0, 0.4);
  // margin-top: 0.5rem;
}

.details-menu-wrapper {
  display: flex;
  justify-content: center;
  // margin: 0.75rem 2rem 1rem;
  padding: 0.75rem 2rem;
  // padding: 0.75rem;
}

.details-menu {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  // box-shadow: 0 0 0 0.2rem var(--shadow-color);

  border: 1px solid var(--color-primary);

  > *:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  > * {
    border-right: 1px solid var(--color-primary);
    flex-grow: 1;
  }

  > *:last-child {
    margin-right: 0;
    border-right: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.details-menu > a {
  $size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $size;
  height: $size;
  padding: 0 0.6rem;
  line-height: $size;
  text-align: center;
  cursor: pointer;
  transition: all 0.375s ease-in-out;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
    box-shadow: 0 0 0 0.1rem var(--color-primary);
  }

  > span {
    margin-left: 0.5rem;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.header > i {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.9rem;
  font-weight: normal;
}

h5 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.9rem;
  color: var(--color-primary);
}

.details-item {
  min-height: 40px;
  margin-bottom: 10px;
}
