<div class="details-body">
  <div class="details-item">
    <h5 class="details-label">Latitude</h5>
    {{ coords.lat }}
  </div>
  <div class="details-item">
    <h5 class="details-label">Longitude</h5>
    {{ coords.lng }}
  </div>

  <hr class="margin:x-0 margin:y-1" />
  <div class="details-menu-wrapper">
    <div class="details-menu">
      <a>
        <i class="fa-solid fa-location-arrow"></i>
        <span>Route</span>
      </a>
      <a (click)="zoomIn()">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </a>
    </div>
  </div>
</div>
