<div
  id="details"
  class="absolute-grid sm:1-of-2 lg:1-of-3 container flex:column shadow"
  @fadeInOutInner
>
  <div class="controls">
    <a class="open-toggle" [class.open]="openMobile" (click)="toggleOpen()">
      <i class="fa-solid fa-angle-up"></i>
    </a>
    <a
      class="close-button"
      [routerLink]="['../../']"
      queryParamsHandling="preserve"
    >
      <i class="fa-solid fa-x"></i>
    </a>
    <!-- <a class="close-button" (click)="close()">
        <i class="fa-solid fa-x"></i>
      </a> -->
  </div>
  <div class="container__icon-header" (click)="toggleOpen()">
    <i class="icon fa-solid {{ location.type.icon }}"></i>
    <div>
      <h4>
        {{ location.name }}
      </h4>
      <h5>
        {{ location.type.name }}
      </h5>
    </div>
  </div>
  <div class="collapsible flex:column" [class.collapsed]="!openMobile">
    <div class="container__item overflow:y-auto grow">
      <!-- <div class="details-item">
        <div id="rating">
          <span class="rating__stars font:fluid-3">
            <shared-rating [value]="location.rating_avg"></shared-rating>
          </span>
          <span *ngIf="location.rating_avg; else noReviews">
            {{ location.rating_avg }} based on {{ location.reviews_count }}
            <a [routerLink]="['reviews']" queryParamsHandling="preserve"
              >reviews</a
            >.
          </span>
          <ng-template #noReviews>
            <span
              >No
              <a [routerLink]="['reviews']" queryParamsHandling="preserve"
                >reviews</a
              >
              yet.</span
            >
          </ng-template>
        </div>
      </div> -->
      <div class="details-item">
        <h5 class="details-label">Address</h5>
        {{ location.address }}
      </div>
      <div class="details-item">
        <h5 class="details-label">Phone</h5>
        {{ location.phone }}
      </div>
      <div class="details-item">
        <h5 class="details-label">Owner</h5>
        {{ location.owner }}
      </div>
    </div>
    <nav class="container__nav noshrink nogrow">
      <a (click)="navigateTo()">
        <i class="fa-solid fa-location-arrow"></i>
        <span class="container__link-label">Navigate</span>
      </a>
      <a (click)="toggleFavourite()" [class.favourite]="location.favourited"
        ><i
          class="fa-heart"
          [class]="location.favourited ? 'fa-solid' : 'fa-regular'"
        ></i>
        <span class="container__link-label">Favourite</span>
      </a>
      <a
        [routerLink]="['reviews']"
        queryParamsHandling="preserve"
        routerLinkActive="active"
      >
        <i class="fa-solid fa-thumbs-up"></i>
        <span class="container__link-label">Reviews</span>
      </a>
      <a
        [routerLink]="['open-hours']"
        queryParamsHandling="preserve"
        routerLinkActive="active"
        ><i class="fa-solid fa-calendar-days"></i>
        <span class="container__link-label">Openhours</span>
      </a>
      <a
        [routerLink]="['services']"
        queryParamsHandling="preserve"
        routerLinkActive="active"
        ><i class="fa-solid fa-money-bill-wave"></i>
        <span class="container__link-label">Services</span>
      </a>
      <a
        [routerLink]="[
          { outlets: { report: ['issue', 'location', this.location.id] } }
        ]"
        [relativeTo]="null"
        queryParamsHandling="preserve"
      >
        <i class="fa-solid fa-triangle-exclamation"></i>
        <span class="container__link-label">Report</span>
      </a>
      <!-- <a (click)="reportIssue()"
          ><i class="fa-solid fa-triangle-exclamation"></i
        ></a> -->
    </nav>
  </div>
</div>
<router-outlet></router-outlet>