@use "/src/styles/mixin/breakpoints.scss" as breakpoint;

$btn-size: 2.5rem;
$nav-size: 3rem;
$max-width: 400px;
$margin: 1rem;
$margin-top: 5rem;

#details {
  height: fit-content;
  max-height: 60vh;
}

.controls {
  position: absolute;
  display: flex;
  align-items: center;
  top: calc(-1rem - $btn-size);
  right: 0.5rem;
  background: var(--container-background);
  border-radius: 0.5rem;

  > * {
    width: $btn-size;
    height: $btn-size;
    line-height: $btn-size;
    text-align: center;
    font-size: calc($btn-size / 2);
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
  }
}

.open-toggle {
  border-right: 1px solid var(--shadow-color);

  > i {
    transition: all 375ms ease-in-out;
    // opacity: 0.6;
  }

  &.open > i {
    transform: rotateX(180deg);
  }
}

.container__icon-header {
  h4 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--color-primary);
  }
}

.collapsible {
  max-height: 50vh;
}

.container__nav {
  // border-top: 1px solid var(--shadow-color);

  > a.favourite {
    color: var(--color-primary);
  }
}

.details-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.9rem;
  color: var(--color-secondary);
}

.details-item {
  min-height: 40px;
  margin-bottom: 10px;
}

@include breakpoint.up("sm") {
  #details {
    border-radius: 0.5rem;
  }

  .controls {
    right: 0.5rem;
    top: 0.5rem;
    border: none;
    background: transparent;
  }

  .open-toggle {
    display: none;
  }

  .collapsible,
  .collapsible.collpsed {
    flex-grow: 1;
    max-height: 100% !important;
  }

  .container__icon-header {
    padding-right: 3rem;
  }
}
