<div
  id="details"
  class="absolute-grid sm:1-of-2 lg:1-of-3 container flex:column shadow"
  @fadeInOutInner
>
  <div class="controls">
    <a class="open-toggle" [class.open]="openMobile" (click)="toggleOpen()">
      <i class="fa-solid fa-angle-up"></i>
    </a>
    <a
      class="close-button"
      [routerLink]="['../../']"
      queryParamsHandling="preserve"
    >
      <i class="fa-solid fa-x"></i>
    </a>
    <!-- <a class="close-button" (click)="close()">
        <i class="fa-solid fa-x"></i>
      </a> -->
  </div>
  <div class="container__icon-header" (click)="toggleOpen()">
    <i class="icon {{ location.type.icon }}"></i>
    <div>
      <h4>
        {{ location.name }}
      </h4>
      <h5>
        {{ location.type.name }}
      </h5>
    </div>
  </div>
  <div class="collapsible flex:column" [class.collapsed]="!openMobile">
    <div class="container__item overflow:y-auto grow">
      <div class="details-item">
        <h5 class="details-label">Address</h5>
        {{ location.address }}
      </div>
      <div class="details-item">
        <h5 class="details-label">Postal code</h5>
        {{ location.postal_code }}
      </div>
      <div class="details-item">
        <h5 class="details-label">City</h5>
        {{ location.city }}
      </div>
    </div>
    <nav class="container__nav noshrink nogrow">
      <a><i class="fa-solid fa-location-arrow"></i></a>
      <a (click)="toggleFavourite()" [class.favourite]="location.favourited"
        ><i
          class="fa-star"
          [class]="location.favourited ? 'fa-solid' : 'fa-regular'"
        ></i
      ></a>
      <a
        [routerLink]="['events']"
        queryParamsHandling="preserve"
        routerLinkActive="active"
        ><i class="fa-solid fa-calendar"></i
      ></a>
      <a
        [routerLink]="['services']"
        queryParamsHandling="preserve"
        routerLinkActive="active"
        ><i class="fa-solid fa-money-bill-wave"></i
      ></a>
      <a
        [routerLink]="[
          { outlets: { report: ['issue', 'location', this.location.id] } }
        ]"
        [relativeTo]="null"
        queryParamsHandling="preserve"
        ><i class="fa-solid fa-triangle-exclamation"></i
      ></a>
      <!-- <a (click)="reportIssue()"
          ><i class="fa-solid fa-triangle-exclamation"></i
        ></a> -->
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
