@use "/src/styles/breakpoints.scss" as breakpoint;

#location-details {
  display: flex;
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0.75rem 1rem;
  background-color: #fff;
  overflow-y: hidden;
}

$btn-size: 3rem;
#close-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: $btn-size;
  height: $btn-size;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: calc($btn-size / 2);
  line-height: $btn-size;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;

  > * {
    margin-right: 1rem;
  }
}

.details-body {
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 0.5rem;
  padding-top: 1.5rem;
}

.header > i {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.9rem;
  font-weight: normal;
}

h5 {
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.9rem;
  color: rgb(100, 100, 100);
}

.details-item {
  min-height: 40px;
  margin-bottom: 10px;
}

@include breakpoint.up("xs") {
  #location-details {
    z-index: 900;
    top: 7rem;
    left: 4rem;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    height: fit-content;
    max-height: calc(100vh - 4rem);
  }
}
