*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
dl,
dt,
dd,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

html {
  height: 100%;
}

body {
  // min-height: 100vh; // 100vh is glitching on mobile
  min-height: 100%;
  height: 100%;
  line-height: 1.6;
}
