<div class="flex margin:b-5">
  <shared-logo-pin
    size="clamp(2rem, 7vw, 3rem)"
    color="var(--color-primary)"
    shadowColor="var(--color-secondary)"
  ></shared-logo-pin>
  <h1 class="brand margin:l-5">ServoMap</h1>
</div>
<form [formGroup]="form" (ngSubmit)="login()">
  <div class="alert error" *ngIf="nonFieldErrors.length">
    {{ nonFieldErrors }}
  </div>

  <email-input formControlName="email" autocomplete="email">
    <label for="email" class="form-label">Email</label>
  </email-input>
  <password-input formControlName="password" autocomplete="current-password">
    <label for="password" class="form-label">Password</label>
  </password-input>
  <div class="flex justify:end">
    <button type="submit" class="btn-lg btn-primary" [disabled]="!form.valid">
      Login
    </button>
  </div>
  <div class="flex justify:end margin:t-2">
    <span class="margin:r-1">Don't have an account?</span>
    <a [routerLink]="['..', 'register']"
    queryParamsHandling="preserve">Sign up</a>
  </div>
</form>
