<leaflet-map
  [center]="center"
  (centerChange)="onCenterChange($event)"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
  (boundsChange)="onBoundsChange($event)"
>
  <location-marker
    *ngFor="let location of locations"
    [location]="location"
    [clickEvent]="true"
    (click)="onLocationClick(location)"
  ></location-marker>
</leaflet-map>
<div id="location-wrapper" class="shadow" [class.open]="locationModal">
  <a id="modal-close-button" class="border:rounded-2 shadow" [routerLink]="['.']" queryParamsHandling="merge">
    <i class="fa-solid fa-x"></i>
  </a>
  <router-outlet
    (activate)="openModal()"
    (deactivate)="closeModal()"
  ></router-outlet>
</div>
