@use "/src/styles/breakpoints.scss" as breakpoint;

$toggle-size: 2.5rem;
$nav-size: 2.5rem;

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 1rem;
  left: 4.5rem;
  z-index: 11000;
  background-color: var(--container-background);

  > * {
    border-right: 1px solid var(--shadow-color);
  }

  > *:last-child {
    border-right: none;
  }
}

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $nav-size;
  height: $nav-size;
  color: var(--text-color);
  font-size: calc($nav-size/2);
  line-height: $nav-size;
  text-align: center;
  text-decoration: none;
  // position: relative;
  // text-transform: uppercase;
  // letter-spacing: 0.1rem;
  // padding: 0 0.5rem;

  > i {
    width: $nav-size;
  }
}

nav > a > .label {
  text-transform: uppercase;
  // letter-spacing: 0.1rem;
  font-size: 0.8em;
  max-width: 0;
  margin-right: 0;
  overflow: hidden;
  transition: all 0.375s linear;
}

.filter-count {
  display: block;
  // position: absolute;
  position: relative;
  right: 0.4rem;
  // top: -0.25rem;
  border-radius: 0.25rem;
  height: calc($nav-size/2);
  padding: 0 0.25rem;
  line-height: calc($nav-size/2);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

#modal-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  // top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  max-height: 0;
  z-index: 10000;
  visibility: 0;
  opacity: 0;
  background-color: var(--container-background);
  overflow: hidden;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: all 375ms ease-in-out;
    overflow: visible;
    max-height: 50vh;
  }

  &.hidden {
    transform: translateY(110%);
  }
}

#modal-close-button {
  position: absolute;
  // top: 1rem;
  // right: 1rem;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--text-color);
  text-align: center;
  line-height: $toggle-size;
  height: $toggle-size;
  width: $toggle-size;
  font-size: 1.25rem;
  background-color: var(--container-background);
}

#user-location-button {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  z-index: 8000;
  height: $nav-size;
  width: $nav-size;
  line-height: $nav-size;
  text-align: center;
  border-radius: 0.5rem;
  font-size: calc($nav-size/2);
  background-color: var(--container-background);
  color: var(--text-color);
  cursor: pointer;
}

@include breakpoint.up("sm") {
  nav > a:hover > .label {
    max-width: 6rem;
    margin-right: 0.5rem;
  }

  #modal-wrapper {
    top: 5rem;
    // top: 50%;
    left: 1rem;
    width: 25rem;
    border-radius: 0.5rem;
    height: fit-content;
    // transform: translateY(-50%);

    &.open {
      max-height: calc(100vh - 7rem);
      padding-top: 0;
    }

    &.hidden {
      transform: translateX(-110%);
    }
  }

  #modal-close-button {
    // top: -1.5rem - $toggle-size;
    // right: 0;

    top: 0.5rem;
    right: 0.5rem;
  }
}
