<leaflet-map
  [mode]="(mapMode$ | async)!"
  [center]="center"
  (centerChange)="onCenterChange($event)"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
  (movestart)="onMoveStart()"
  (moveend)="onBoundsChange($event)"
  (rightClick)="onMapClick($event)"
  [flyTo]="flyTo"
>
  <location-marker
    *ngFor="let location of locations$ | async"
    [location]="location"
    [clickEvent]="true"
    (click)="onLocationClick(location)"
  ></location-marker>
  <location-marker
    *ngIf="selectedLocation"
    [location]="selectedLocation"
    [color]="'red'"
    auxiliary
  ></location-marker>
  <map-marker
    *ngIf="selectedCoordinates"
    [coordinates]="selectedCoordinates"
    [color]="'red'"
    [icon]="'fa-solid fa-crosshairs'"
    auxiliary
  ></map-marker>
  <map-marker
  *ngIf="userPosition"
  [coordinates]="userPosition"
  [color]="'orange-dark'"
  [icon]="'fa-solid fa-person'"
  auxiliary
  ></map-marker>
</leaflet-map>
<nav class="shadow border:rounded-2">
  <a [routerLink]="['/', 'map', 'filters']" queryParamsHandling="merge">
    <i class="fa-solid fa-filter"></i>
    <span class="filter-count" *ngIf="selectedTypesCount > 0">
      {{ selectedTypesCount }}
    </span>
    <span class="label"> Filters </span>
  </a>
  <a [routerLink]="['/', 'map']" queryParamsHandling="merge">
    <i class="fa-solid fa-magnifying-glass-location"></i>
    <span class="label"> Search </span>
  </a>
</nav>
<div id="modal-wrapper" class="shadow open" [class.hidden]="hideUI" [@fadeInOut]="locationModal ? 'in' : 'out'">
  <a
    id="modal-close-button"
    class="border:rounded-2"
    [routerLink]="['.']"
    queryParamsHandling="merge"
  >
    <i class="fa-solid fa-x"></i>
  </a>
  <router-outlet
    (activate)="openModal()"
    (deactivate)="closeModal()"
  ></router-outlet>
</div>
<a id="user-location-button" class="shadow" (click)="flyToUserPosition()" *ngIf="userPosition">
  <i class="fa-solid fa-street-view"></i>
</a>