<core-map
  [center]="center"
  (centerChange)="onCenterChange($event)"
  [zoom]="zoom"
  (zoomChange)="onZoomChange($event)"
  (movestart)="onMoveStart()"
  (moveend)="onBoundsChange($event)"
  (rightClick)="onMapClick($event)"
>
  <core-cluster-group name="ClusterGroup">
    <core-location-marker
      *ngFor="let location of locations$ | async"
      [location]="location"
      (click)="onLocationClick(location)"
    ></core-location-marker>
  </core-cluster-group>
  <core-feature-group
    ><core-location-marker
      *ngIf="selectedLocation"
      [location]="selectedLocation"
      [color]="'red'"
      [markerOptions]="{
        zIndexOffset: 999999
      }"
    ></core-location-marker>
    <core-marker
      *ngIf="selectedCoordinates"
      [coordinates]="selectedCoordinates"
      [color]="'red'"
      [icon]="'fa-solid fa-crosshairs'"
      [markerOptions]="{
        zIndexOffset: 999999
      }"
    ></core-marker>
    <core-marker
      *ngIf="userPosition"
      [coordinates]="userPosition"
      [color]="'orange-dark'"
      [icon]="'fa-solid fa-person'"
      [markerOptions]="{
        zIndexOffset: 999999
      }"
    ></core-marker>
  </core-feature-group>
</core-map>
<nav class="shadow border:rounded-2">
  <a [routerLink]="['/', 'map', 'filters']" queryParamsHandling="merge">
    <i class="fa-solid fa-filter"></i>
    <span class="filter-count" *ngIf="selectedTypesCount > 0">
      {{ selectedTypesCount }}
    </span>
    <span class="label"> Filters </span>
  </a>
  <a [routerLink]="['/', 'map']" queryParamsHandling="merge">
    <i class="fa-solid fa-magnifying-glass-location"></i>
    <span class="label"> Search </span>
  </a>
</nav>
<div
  id="modal-wrapper"
  class="shadow open"
  [class.hidden]="hideUI"
  [@fadeInOut]="locationModal ? 'in' : 'out'"
>
  <a
    id="modal-close-button"
    class="border:rounded-2"
    [routerLink]="['.']"
    queryParamsHandling="merge"
  >
    <i class="fa-solid fa-x"></i>
  </a>
  <router-outlet
    (activate)="openModal()"
    (deactivate)="closeModal()"
  ></router-outlet>
</div>
<a
  id="user-location-button"
  class="shadow"
  (click)="flyToUserPosition()"
  *ngIf="userPosition"
>
  <i class="fa-solid fa-street-view"></i>
</a>
