@use "/src/styles/mixin/breakpoints.scss" as breakpoint;

:host {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@include breakpoint.up("xs") {
  .wrapper {
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}
