@use "/src/styles/mixin/breakpoints.scss" as breakpoint;

$toggle-size: 2.5rem;
$toggle-duration: 0.5s;

$item-height: 3rem;

#menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brand {
  height: 2.5rem;
  margin-left: 1rem;
  line-height: 2.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  font-size: calc($item-height / 2.5);
}

#menu a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all $toggle-duration ease-in-out;

  &:hover {
    letter-spacing: 0.2rem;
  }

  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
  }
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-icon {
  width: $item-height;
  height: $item-height;
  font-size: calc($item-height / 2);
  line-height: $item-height;
  text-align: center;
}

.item-text {
  height: $item-height;
  line-height: $item-height;
  text-transform: uppercase;
  letter-spacing: inherit;
}

.collapsible {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all $toggle-duration ease-in-out;
  margin-left: 2rem;

  &.open {
    visibility: visible;
    opacity: 1;

    max-height: 20rem;
    margin-bottom: 1rem;
  }
}
