<nav id="menu">
  <div class="menu-header">
    <shared-logo-pin
      size="1.75rem"
      color="var(--color-primary)"
    ></shared-logo-pin>
    <h2 class="brand">ServoMap</h2>
  </div>
  <hr class="margin:x-5 margin:y-3" />
  <a
    class="menu-item"
    [routerLink]="['/', 'map']"
    routerLinkActive="active"
    (click)="onMainNavigation()"
  >
    <i class="item-icon fa-solid fa-compass"></i>
    <span class="item-text">Map</span>
  </a>
  <a
    class="menu-item"
    [routerLink]="['/', 'filter']"
    routerLinkActive="active"
    queryParamsHandling="preserve"
    (click)="onMainNavigation()"
  >
    <i class="item-icon fa-solid fa-filter"></i>
    <span class="item-text">Filter</span>
  </a>

  <a 
    class="menu-item"
    [routerLink]="[{ outlets: { auth: 'account/about' } }]"
    [relativeTo]="null"
    queryParamsHandling="preserve"
  >
    <i class="item-icon fa-solid fa-circle-info"></i>
    <span class="item-text">About</span>
  </a>
  <!-- <a
    class="menu-item"
    [routerLink]="['/', 'navigate']"
    routerLinkActive="active"
    (click)="onMainNavigation()"
  >
    <i class="item-icon fa-solid fa-location-arrow"></i>
    <span class="item-text">Navigation</span>
  </a> -->
  <a class="menu-item" (click)="toggleSettings()">
    <i class="item-icon fa-solid fa-gear"></i>
    <span class="item-text">Settings</span>
  </a>
  <div class="collapsible" [class.open]="settingsOpen">
    <core-settings></core-settings>
  </div>
  <div
    class="menu-item margin:t-auto flex:row justify:space-between"
    *ngIf="isAuthenticated$ | async; else loginButton"
  >
    <a class="text-truncate">
      <i class="item-icon fa-solid fa-circle-user"></i>
      <span class="item-text">{{ (user$ | async)?.name }}</span>
    </a>
    <a
      [routerLink]="[{ outlets: { auth: 'account/auth/logout' } }]"
      [relativeTo]="null"
      queryParamsHandling="preserve"
      (click)="onMainNavigation()"
    >
      <i class="item-icon fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
  <ng-template #loginButton>
    <a
      class="menu-item margin:t-auto"
      [routerLink]="[{ outlets: { auth: 'account/auth' } }]"
      [relativeTo]="null"
      queryParamsHandling="preserve"
    >
      <i class="item-icon fa-solid fa-circle-user"></i>
      <span class="item-text">Login</span>
    </a>
  </ng-template>
</nav>
