@use "/src/styles/mixin/breakpoints.scss" as breakpoint;

$nav-size: 3rem;
$margin: 1rem;
$margin-top: 5rem;
$margin-left: 400px;
$max-width: 500px;

.back-button {
  // position: absolute;
  // top: 0.5rem;
  // right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

@include breakpoint.up("sm") {
  #services {
    border-radius: 0.5rem;
  }
}
